DATABASE_URL="URL_DE_LA_BASE_DE_DATOS_AQUI"
PORT=PUERTO_AQUI

# Firebase Admin SDK
FIREBASE_PROJECT_ID=ID_DEL_PROYECTO_DE_FIREBASE_AQUI
FIREBASE_PRIVATE_KEY="CLAVE_PRIVADA_DE_FIREBASE_AQUI"
FIREBASE_CLIENT_EMAIL=EMAIL_DEL_CLIENTE_DE_FIREBASE_AQUI
